* {
    margin: 0;
    padding: 0;
    list-style: none
}

$primaryColor: #607D8B;
$bodyAndBorderColor: aliceblue;
$hoverColor: #455A64;
$animationColor: #F9CEE7;


@mixin displflex($alignitems: center, $justify: center) {
    display: flex;
    align-items: $alignitems;
    justify-content: $justify;
}

@mixin ulfixmixin() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin ulPosition($top: 1px, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
    width: 150px;
    height: 100%;
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
    transition: all .3s linear;
}

body {
    background-color: $bodyAndBorderColor;

    .nav-wrapper {
        @include displflex;
        max-width: 1000px;
        margin: 40px auto;

        >.main-nav>ul {
            @include ulfixmixin;

            >li {
                display: inline-block;
                margin: 0 5px;

                .dropdown {
                    @include ulPosition($top: 100%);
                }
                >a {
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: $animationColor;
                        transition: width 1s;
                      }
                }
                &:hover {
                    >a {                                    
                      &::before {
                        width: 100%;
                      }
                        >span {
                            transform: rotate(-180deg);
                        }
                    }
                    
                    >.dropdown {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0);

                        >li {
                            &:hover {
                                >a>span {
                                    transform: rotate(-180deg);
                                }

                                >.dropdown {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translate(0);

                                    >li:hover {
                                        >a>span {
                                            transform: rotate(-180deg);
                                        }

                                        .dropdown {
                                            opacity: 1;
                                            visibility: visible;
                                            transform: translate(0);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            li {
                position: relative;

                >a {
                    display: block;
                    padding: 10px 18px;
                    background-color: $primaryColor;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: background-color .2s linear;

                    span {
                        transition: transform .2s linear;
                        display: inline-block;
                    }

                    &:hover {
                        background-color: $hoverColor;
                    }
                }

                .dropdown {
                    a {
                        position: relative;

                        &:after {
                            position: absolute;
                            content: "";
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 1px;
                            background-color: $bodyAndBorderColor;
                            opacity: .5;
                        }
                    }

                    .dropdown {
                        @include ulPosition($left: 100%);
                    }
                }
            }
        }

    }
}